<!DOCTYPE html>
<html>
<head>
  <title>Devnest</title>
  <link rel="stylesheet" href="/css/style.css" />
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
</head>
<body>
<div id="maindiv">
  <!-- <p>Dey play</p> -->
</div>
</body>